#mapa {
    height: 75vh;
    width: 100%;
    margin: 0;
}

#mps_list {
    text-align: left;
    width: 100%;
    font-size: 10pt;
}


#mps_list li {
    margin-left: 40px !important;
}

.header_p {
    margin-bottom: 0px !important;
}